#game {
  border: 1px solid hotpink;
  display: block;
  background-color: #000;
}

body {
	font-family: 'Pangolin', cursive;

}

h1 {
	text-align: center;
	margin: 0.5rem;
	font-size: 5rem;
	color: orange;
}

main {
	height: 100vh;
	display: flex;
	justify-content: space-around;
	z-index: 1;
	background-image: url('http://www.bravecto.com.au/img/icons/Bravecto_Larvae.svg');
	background-size: cover;
}

aside {
	color: orange;
	/*outline-color: black;*/
	margin-top: 22rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 20rem;
	width: 20vw;
	text-align: center;
	padding: 1rem 0;
}

h3 {
	line-height: 2rem;
	font-size: xx-large;
	margin-top: -3rem;
}



